<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TO DO LIST</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <main>
            <h1>TO DO LIST</h1>
            <form action="/add" method="POST">
                <input type="text" name="item" id="item" placeholder="Digite uma tarefa...">
                <button>Adicionar</button>
            </form>
        </main>
        <div class="area">
            <ul>
                {% for item in lista %}
                <li>
                    {{ item }}
                </li>
                {% endfor %}
            </ul>
        </div>

        <script src="../static/js/script.js"></script>
    </body>
</html>